@font-face{
  font-family: "Moon 2.0 Regular";
  src: url(../fonts/Moon2.0-Regular.otf);
}
.font{
    font-family: "Moon 2.0 Regular";
}
/* Navbar */
body {
  position: relative; 
}
#navbar {
  background-color: #0F0A0A;
  opacity: 0.98;
}
.nav {
  color: #009688;
}
.nav-pills > li > a.active {
  background-color: #F8F32B!important;
  opacity: 1;
}
.nav-pills > li > a:hover{
  background-color: #FFD444!important;
  opacity: 0.90;
}
.nav-item > a:hover{
  color: #0f0a0a!important;
  opacity: 0.90;
}
.nav-item > a.active {
  color: #0f0a0a!important;
  opacity: 0.90;
}
.nav-item > a {
  color: #FFD444!important;
  opacity: 0.90;
}
button.navbar-toggler {
  background-color: #FFD444!important;
}

/* NavBar FIM */

/*Sections*/
section.container-fluid{
  padding-top: 50px;
  height: 100vh;
  color: #fff;
  opacity: 0.95;
}

/* Home/Slide Show */
  #home{

  }

  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100vw;
      height: 100%;
  }

  .slide-text{
    font-family: "Moon 2.0 Regular";
    font-size: 3em;
  }
  
  .carousel-caption1{
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
/* SLIDESHOW FIM*/

/* Sobre */
#sobre {
height: 100%;
}

.fundo-sobre{
  background-color:#FFD444;
  height: 100%;
  width: 100%;
}

.titulo-sobre{
  font-family: "Moon 2.0 Regular";
  font-size: 4.5em;
  text-align: center;
  padding-top: 1em;
}

.texto-sobre{
  font-family: "Moon 2.0 Regular";
  font-size: 2em;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}

/* Sobre FIM */

/* Palestrantes */
#palestrantes{
  background-color: #2A565C;
  height: 100%;
  padding-bottom: 2em;
}
#titlePalestrantes{
  font-family: "Moon 2.0 Regular"; 
  text-align: center;
  font-size: 4.5em;
  color: #F5EFED;
  padding-top: 0.1em;
}
#colPalestrantes {
  text-align: center;
  font-size: 2.5em;
  margin-left: auto;
  margin-right: auto;
  color: #F5EFED;
}
.imgPalestrantes{
  width: 9em;
  height: 9em;
  border-radius: 50%;
  border: solid;
  border-width: 5px;
  border-color: #F5EFED;
  margin-top: 10%;
  object-fit: cover;
}

.txtPalestrantes {
  font-family: "Moon 2.0 Regular";
  padding-top: 6%;
  text-align: center;
}

.cont {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 10;
  bottom: 0;
  left: 7%;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.cont:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;  
}

/* Palestrantes FIM */

/* Organizadores */

#organizadores{
  background-color: #e5f77d;
  height: auto;
  padding-bottom: 2em;
}
#titleOrganizadores{
  font-family: "Moon 2.0 Regular"; 
  text-align: center;
  font-size: 4em;
  color: #0F0A0A;
  padding-top: 0.1em;
}
#colOrganizadores{
  text-align: center;
  font-size: 2.5em;
  margin-left: auto;
  margin-right: auto;
  color: #0F0A0A;
}
.imgOrganizadores{
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: solid;
  border-width: 5px;
  border-color: #0F0A0A;
  margin-top: 10%;
  object-fit: cover;
}
.txtOrganizadores{
  font-family: "Moon 2.0 Regular";
}
.social{
  margin: auto;
}
.socialIcon{
  height: 1em;
  width: 1em;
  margin-left: 5px;
}
.socialIcon:hover{
  filter:drop-shadow(2px 2px 3px gray);
}
/* Organizadores FIM */

/* Localização */
#localizacao {
  background-color: #009688;
  height: 100vh;
  width: 100%;
}
/* Localização FIM */

/* Log-in/Sign-in */
#loginSignin {
  background-color: #59C3C3;
  height: auto;
  width: 100vw;
  padding-bottom: 2em;
}
#registro{
  font-family: "Moon 2.0 Regular";
}
#login{
  font-family: "Moon 2.0 Regular";
}
.topicos{
  font-size: 1.2em;
}

/* Log-in/Sign-in FIM */

/*  Media Queries */
@media(max-width: 2560px){
  .slide-text{
    font-size: 4em;
  }
  .titulo-sobre{
    font-size: 4em;
  }
  .texto-sobre{
    font-size: 3em;
  }
  .nav-item > a{
    font-size: 3em;
    margin-left: 2em;
    margin-right: 2em;
  }
  .comp-icon{
    height: 6em;
  }


  #titlePalestrantes{
    font-size: 7em;
  }
  .imgPalestrantes{
  width: 14em;
  height: 14em;
  border-width: 10px;
  }
  .txtPalestrantes{
    font-size: 2em;
  }
  .overlay{
    left: 16%;
  }
  #titleOrganizadores{
    font-size: 7em;
  }
  .imgOrganizadores{
  width: 13em;
  height: 13em;
  border-width: 10px;
  }
  .txtOrganizadores{
    font-size: 2em;
  }

  .socialIcon{
  height: 1.7em;
  width: 1.7em;
  margin-left: 10px;
  }
  .imgOrganizadores{
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: solid;
  border-width: 10px;
  border-color: #0F0A0A;
  margin-top: 10%;
  object-fit: cover;
  }
}
@media(max-width: 1800px){
  .nav-item > a{
    margin-left: 0.2em;
    margin-right: 0.1em;
    font-size: 1.5em;
  }
  .slide-text{
    font-size: 3em;
  }
  .titulo-sobre{
    font-size: 4em;
  }
  .texto-sobre{
    font-size: 2em;
  }
  .comp-icon{
    height: 4em;
  }

  #titlePalestrantes{
    font-size: 4em;
  }
  .imgPalestrantes{
  width: 9em;
  height: 9em;
  border-width: 5px;
  }
  .txtPalestrantes{
    font-size: 1em;
  }
  #titleOrganizadores{
    font-size: 4em;
  }
  .imgOrganizadores{
  width: 7em;
  height: 7em;
  border-width: 5px;
  }
  .txtOrganizadores{
    font-size: 1em;
  }
  .socialIcon{
  height: 1.2em;
  width: 1.2em;
  margin-left: 5px;
  }
}
@media(max-width: 1024px){
  .nav-item > a{
    font-size: 1.2em;
  }
  .comp-icon{
    height: 3em;
  }
  .slide-text{
    font-size: 2em;
  }

  #titlePalestrantes{
    font-size: 3em;
  }
  .imgPalestrantes{
  width: 7em;
  height: 7em;
  border-width: 5px;
  }
  .txtPalestrantes{
    font-size: 0.8em;
  }
  #titleOrganizadores{
    font-size: 3em;
  }
  .imgOrganizadores{
  width: 7em;
  height: 7em;
  border-width: 5px;
  }
  .txtOrganizadores{
    font-size: 0.8em;
  }
}
@media(max-width: 768px){
  .slide-text{
    font-size: 2em;
  }
  .carousel-caption1{
    position: absolute;
    right: 15%;
    bottom: 0px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  #titlePalestrantes{
    font-size: 2em;
  }
  .imgPalestrantes{
  width: 5em;
  height: 5em;
  border-width: 5px;
  }
  .txtPalestrantes{
    font-size: 0.6em;
  }

  #titleOrganizadores{
    font-size: 2em;
  }
  .imgOrganizadores{
  width: 5em;
  height: 5em;
  border-width: 5px;
  }
  .txtOrganizadores{
    font-size: 0.6em;
  }
}
@media(max-width: 425px){
  .comp-icon{
    height: 2em;
  }
  .slide-text{
    font-size: 1em;
  }
  .titulo-sobre{
    font-size: 2em;
  }
  .texto-sobre{
    font-size: 1em;
  }
  .topicos{
    text-align: center;
  }
}
@media(max-width: 375px){
  .imagem-slide{
    padding-top:3em;
  }
  .slide-text{
    font-size: 0.7em;
  }
}